@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkgrey;
}

header {
    width: 100vw;
    height: 350px;
    background-color: grey;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 10px;
}

a {
    display: inline-block;
    margin: 5px auto;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 46vh;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

a:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}

main {
    background-color: white;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

article {
    padding: 20px;
}

article > h1 {
    margin-bottom: 10px;
}

article > p {
    text-indent: 5px;
    text-align: justify;
}



